@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1655183998947') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-F:before {
  content: "\f003d";
}

.icon-gouwuche2:before {
  content: "\f0075";
}

.icon-liwuhuodong:before {
  content: "\f01da";
}

.icon-shoujitianchong:before {
  content: "\e6c4";
}

.icon-shoujichongzhi:before {
  content: "\e6c8";
}

.icon-dingbu:before {
  content: "\e76c";
}

.icon-xiangyou1:before {
  content: "\e775";
}

.icon-xiangyou2:before {
  content: "\e776";
}

.icon-xiangyou3fill:before {
  content: "\e777";
}

.icon-15tianbaotui01:before {
  content: "\e688";
}

.icon-duihuan:before {
  content: "\e71a";
}

.icon-didian:before {
  content: "\e61a";
}

.icon-banshou:before {
  content: "\e659";
}

.icon-7tianbaotui:before {
  content: "\e6cc";
}

.icon-bofang:before {
  content: "\e624";
}

.icon-geren:before {
  content: "\e607";
}

.icon-shijian:before {
  content: "\e610";
}

.icon-gongsi:before {
  content: "\e679";
}

.icon-sim-card:before {
  content: "\e612";
}

.icon-xiaoxi:before {
  content: "\e63e";
}

.icon-fangdajing:before {
  content: "\e660";
}

.icon-a-kefukefuzhongxin:before {
  content: "\e63a";
}

